.pagecontrol section[role=main] {
    /*margin-left: 120px;
    margin-right: 120px;*/
}


#abstract {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    font-family: "Leelawadee UI", Segoe UI;
}

    #abstract #qty {
        color: #8D8989;
    }

    #abstract #query {
        color: #ED7D31;
        text-transform: capitalize;
    }

#rightside {
    -ms-grid-column: 2;
}

#menuview {
}

/*#resultsListView .win-listview .win-container {
    background-color: #EBF3FA;
    border-radius: 10px 0 10px 0;
    width: 100px;
}



#resultsListView .win-template > div {
    background-color: #EBF3FA;
    border-radius: 5px 0 5px 0;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 3px;
    display: -ms-grid;
    -ms-grid-rows: 45px 30px;
    width: 400px;
    height: 75px;
}

    #resultsListView .win-template > div .top {
        display: -ms-grid;
        -ms-grid-row: 1;
        -ms-grid-columns: 250px 50px 100px;
    }

        #resultsListView .win-template > div .top h2 {
            -ms-grid-column: 1;
            overflow: hidden;
            font-weight: bolder;
            font-size: 21px;
        }

        #resultsListView .win-template > div .top .favorited {
            -ms-grid-column: 2;
            text-align: center;
        }

        #resultsListView .win-template > div .top .stars {
            -ms-grid-column: 3;
            text-align: center;
        }

    #resultsListView .win-template > div .bottom {
        -ms-grid-row: 2;
        display: -ms-grid;
        -ms-grid-rows: 100px 100px 100px 100px;
    }

        #resultsListView .win-template > div .bottom div {
            text-align: center;
            width: 100px;
            font-size: 11px;
            font-weight: 500;
            white-space: nowrap;
        }

        #resultsListView .win-template > div .bottom img {
            vertical-align: middle;
        }

        #resultsListView .win-template > div .bottom .ingredients {
            -ms-grid-column: 1;
        }

        #resultsListView .win-template > div .bottom .portions {
            -ms-grid-column: 2;
        }

        #resultsListView .win-template > div .bottom .time {
            -ms-grid-column: 3;
        }

        #resultsListView .win-template > div .bottom .difficulty {
            -ms-grid-column: 4;
        }*/


/*@media screen and (-ms-view-state: snapped) {
    .pagecontrol section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .pagecontrol section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}*/
