.cookingBackground {
    /*margin-left: 120px;
    margin-right: 120px;*/
    background-image: url(../../images/cooking-at-home.jpg);
    background-position: 120px;
    background-repeat: no-repeat;
}


.spanner {
    height: 100%;
    display: inline-block;
    /*border: solid;*/
    vertical-align: middle;
}

#recipeDetail {
    -ms-grid-column: 2;
    display: -ms-grid;
    -ms-grid-columns: 1fr 2fr;
    -ms-grid-rows: 150px 1fr;
}

    #recipeDetail .name {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        /*background-color: #ffd800;*/
    }

        #recipeDetail .name h2 {
            display: inline-block;
            vertical-align: middle;
            padding: 30px;
            font-weight: 600;
            text-shadow: 2px 2px 2px #bdbdbd;
            color: #6f6d6d;
            font-size: 35px;
        }

    #recipeDetail .info {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }

        #recipeDetail .info > div {
            display: inline-block;
            background-color: #ECF3FA;
            border-radius: 7px 0 7px 0;
            height: 50px;
            width: 700px;
            text-align: left;
        }

        #recipeDetail .info div div {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
        }

        #recipeDetail .info div img {
            vertical-align: middle;
        }

        #recipeDetail .info div .ingredientsCount {
            width: 20%;
        }

        #recipeDetail .info div .portions {
            width: 20%;
        }

        #recipeDetail .info div .time {
            width: 20%;
        }

        #recipeDetail .info div .difficulty {
            width: 10%;
        }

        #recipeDetail .info div .favorite {
            width: 5%;
        }

        #recipeDetail .info div .stars {
            width: 20%;
        }

    #recipeDetail .ingredients {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        padding: 0 30px;
    }

        #recipeDetail .ingredients div {
            background-color: #FCEADE;
            color: white;
            font-weight: 500;
            display: inline-block;
            border-radius: 0 10px 0 0;
            font-size: 20px;
            height: 30px;
            margin: 0;
            padding: 10px;
            vertical-align: bottom;
            cursor: pointer;
        }

        #recipeDetail .ingredients .tab {
            padding: 3px 20px;
            font-size: 20px;
            margin-left: 2px;
            margin-right: 1px;
            /*border-radius: 0 5px 0 0;*/
        }

        #recipeDetail .ingredients .selected {
            background-color: #FAD6BF;
        }

        #recipeDetail .ingredients .invisible {
            display: none;
        }

        #recipeDetail .ingredients ul {
            background-color: #FAD6BF;
            padding: 30px 20px 10px;
            height: 100%;
            margin: 0;
            list-style: none;
        }

            #recipeDetail .ingredients ul li {
                font-weight: 500;
                margin-bottom: 5px;
            }

    #recipeDetail .preparation {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
    }


@media screen and (-ms-view-state: snapped) {
    .detail section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    /*.detail section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }*/
}
