#menuview {
    display: -ms-grid;
    -ms-grid-columns: 150px 1fr;
}

#menu div {
    height: 120px;
    padding-top: 30px;
    text-align: center;
}

    #menu div img {
        cursor: pointer;
        margin:10px;
    }


.pagetitle {
    font-family: "Segoe UI";
}