#abstract {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    font-family: "Leelawadee UI", Segoe UI;
}

    #abstract #qty {
        color: #8D8989;
    }

    #abstract #query {
        color: #ED7D31;
        text-transform: capitalize;
    }

.pagetitle {
    color: white;
    font-size: 30px;
    width: 300px;
    padding: 10px 50px 10px 50px;
    background-color: #D24726;
    border-radius: 0 0 0 15px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #aaa;
}

#rightside {
    -ms-grid-column: 2;
    margin-top: 20px;
}
