/*.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}*/

/*@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}*/

#search {
    background-color: #D24726;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 50% 20% 30%;
    height: 100%;
}

    #search div {
        -ms-grid-column: 1;
    }

    #search .top {
        background-color: #D24726;
        -ms-grid-row: 1;
        text-align: center;
    }

        #search .top img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    #search .middle {
        -ms-grid-row: 2;
        text-align: center;
    }

        #search .middle #query {
            border-radius: 10px 0 10px 0;
            vertical-align: top;
            text-align: center;
        }

    #search .bottom {
        background: -ms-linear-gradient(top, #d24726 14%,#ffffff 14%);
        -ms-grid-row: 3;
        text-align: center;
    }

        #search .bottom .ingredients {
            background-color: #3B3026;
            color: white;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            border: none;
        }

@media screen and (-ms-view-state: fullscreen-landscape) {
    #search .top img {
        padding-top: 50px;
        padding-left: 50px;
        width: 700px;
    }

    #search .middle input {
            width: 60%;
            height: 55px;
            font-size: 30px;
        }

    #search .bottom .ingredients {
        width: 25%;
        font-size: 34px;
        padding: 10px;
    }
}

@media screen and (-ms-view-state: filled) {
    #search .top img {
        padding-top: 50px;
        padding-left: 50px;
        width: 700px;
    }

    #search .middle input {
            width: 60%;
            height: 55px;
            font-size: 30px;
        }

    #search .bottom .ingredients {
        width: 25%;
        font-size: 34px;
        padding: 10px;
    }
}

@media screen and (-ms-view-state: snapped) {
    #search .top img {
        padding-top: 150px;
        width: 300px;
    }

    #search .middle input {
            width: 90%;
            height: 55px;
            font-size: 20px;
        }

    #search .bottom .ingredients {
        width: 75%;
        font-size: 34px;
        padding: 10px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    #search .top img {
        padding-top: 300px;
        padding-left: 50px;
        width: 700px;
    }

    #search .middle input {
            width: 80%;
            height: 55px;
            font-size: 30px;
        }

    #search .bottom .ingredients {
        width: 45%;
        font-size: 34px;
        padding: 10px;
        margin-top: 20px;
    }
}
