<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="16261Pollirrata.voilaX" Version="1.0.0.7" Publisher="CN=B17AF2D5-82D6-4A10-A50D-C10447283AC3" />
  <Properties>
    <DisplayName>voila</DisplayName>
    <PublisherDisplayName>Gerardo Revilla</PublisherDisplayName>
    <Logo>images\icono50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Voilá!" Logo="images\icono270x270.png" SmallLogo="images\icono30x30.png" Description="Voilá!" ForegroundText="dark" BackgroundColor="#ffffff" ToastCapable="false">
        <DefaultTile ShowName="allLogos" WideLogo="images\icon558x270.png" />
        <SplashScreen Image="images\icono620x300.png" BackgroundColor="#FF6600" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>